.banner-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}
.image-cover {
    position: relative;
}
.image-cover>img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    object-position: 50% 50%;
}
.image-cover.center-bottom>img {
    object-position: 50% 100%;
}

.position-relative {
    position: relative;
}
.banner-continer-holder {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}