body {
	font-family: 'Montserrat', sans-serif;
}
:root {
	--white: #ffffff; 
	--lime:#E0FB60;
	--mirage:#161D25;
	--egg-shell:#ECECE0;
	--blue:#1675ED;
}
.banner-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}
.image-cover {
    position: relative;
}
.image-cover>img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    object-position: 50% 50%;
}
.image-cover.center-bottom>img {
    object-position: 50% 100%;
}

.position-relative {
    position: relative;
}
.banner-continer-holder {
	 
    height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
		z-index: 2;
		padding-bottom: 3.2rem;
}
.third-continer-holder {
	 
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
		z-index: 2;
		padding-bottom: 3.2rem;
}
.banner-text h1{
		
		font-weight: bold;
    font-size: 4.5rem;
    color: var(--white);
    line-height: 7.2rem;

}
.ornament{
	position: absolute;
	width: 500px;
	bottom: 0;
}
.ornament img{
	width: 100%;
}
.google-award{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 120px;
	margin-left:4.5rem
}
.google-award *{
	color:var(--white);
	font-size: 13px;
  font-weight: 400;
}
.google-award .number{

	font-size: 22px;
  font-weight: 800;

	
}
.col-left{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.btn-primary,.btn-secondary{
	text-transform: uppercase;
	padding: 20.5px 54.5px;
	border:0;
	font-weight:600

}
.btn-primary svg,.btn-secondary svg{
	margin-right:10px
}
.btn-primary{
	background-color: var(--lime);
	color:var(--mirage);
}
.btn-secondary{
	background-color: var(--blue);
	color:var(--egg-shell);
}
.btn-secondary path{
	stroke:var(--egg-shell);
}
.margin-bottom-9-3{
	  margin-bottom: 9.3rem;
}
.margin-bottom-3{
	  margin-bottom: 3rem;
}
.button-holder > a:first-child{
	margin-right: 10px;
}
.col-banner-right{
	  display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 5rem;
}
.banner-text table li{
	  font-size: 18px;
    text-transform: uppercase;
    color: #fff;
		margin-bottom: 1rem;
}
.banner-text table ul{
	list-style-type: none;
	padding: 0;
  padding-left: 10px 
}
.banner-text table li {
  
  background: url('inc/img/check.png') no-repeat left top; 
	background-size: 24px 24px;
  padding-left: 34px;
}
.second-section,.third-section,.fourth-section,.sixth-section,.section-post{
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.font-author{
	font-size: 25px;
  font-weight: 700;
}
video{
	  max-width: 710px;
    height: 460px;
}
.col-right-second{
	right: 0px;
}
.subtext-second{
	font-size: 1rem;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.06em;
	text-align: left;
	color:var(--blue);

}
.title-second{
	padding-top:20px;
	font-size: 48px;
	font-weight: 700;
	line-height: 67px;
	letter-spacing: 0em;
	text-align: left;
	color:var(--mirage);

}
.second-content{
	padding-top:20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	color:var(--mirage);

}
.padding-right-2{
	padding-right: 2rem;
}
.padding-top-30{
		padding-top:30px;
}
.third-section-text{
	
	font-size: 1rem;
	font-weight: 450;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color:var(--white)

}
.third-title{

	font-size: 48px;
	font-weight: 700;
	line-height: 67px;
	letter-spacing: 0em;
	text-align: left;
	color:var(--white)

}
.third-logo{
	  position: absolute;
    top: -160px;
}
.padding-bottom-62{
	padding-bottom: 62px;
}
.fourth-title{
	
	font-size: 48px;
	font-weight: 700;
	line-height: 67px;
	letter-spacing: 0em;
	text-align: left;
	color:var(--mirage)

}
.fourth-text{

	font-size: 16px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;

}
.padding-bottom-69{
	padding-bottom: 69px;
}
.fifth-section{
	background-color: var(--blue);
	padding-top:7.5rem;
	padding-bottom: 7.5rem;
}
.or,.or2{
	  position: absolute;
    top: 0;
    max-height: 100%;
}
.or2{
	  max-height: 40%;
    bottom: 0;
    top: unset;
}
.text-fifth{
	color:var(--white);
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;

}
.fifth-subtext{
	color:var(--white);
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.06em;
	text-align: left;

}
.fifth-title{
	color:var(--white);
	font-size: 48px;
	font-weight: 700;
	line-height: 67px;
	letter-spacing: 0em;
	text-align: left;
}
.fifth-section .btn-secondary{
	border: 1px solid;
}
.sixth-subtext{
	color:var(--blue);
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.06em;
	text-align: left;
	text-transform: uppercase;

}
.sixth-title{
	color:var(--mirage);
	font-size: 48px;
	font-weight: 700;
	line-height: 67px;
	letter-spacing: 0em;
	text-align: left;
}
.sixth-text{
	color:var(--mirage);

	font-size: 16px;
	font-weight: 450;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;

}
.icon-footer{
	margin-right: 1rem;
	
}
.contact-item{

	margin-bottom: 1.5rem;
}
.wpcf7-form > p > label{
	width: 100%;

}
.padding-bottom-16{
	padding-bottom: 16px;
}
.contact-footer a,.contact-footer div{
	color:var(--mirage);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

}
.title-schedule{
	color:var(--mirage);
	font-size: 32px;
	font-weight: 700;
	line-height: 45px;
	letter-spacing: 0em;
	text-align: left;

}
.menu{
	margin-bottom: 0rem;
}
.site-header{
	  position: absolute;
    top: 0;
    z-index: 3;
    color: var(--white);
		width: 100%;
}
.wpcf7-form input{
	
	border: 0;
	border-bottom: 1px solid var(--lime);
	width: 95%;
	padding-right: 10px;
	background-color: transparent;
	color:var(--mirage);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

}
.wpcf7-form textarea{
	border: 0;
	border-bottom: 1px solid var(--lime);
	width: 98%;
	padding-right: 10px;
	background-color: transparent;
	color:var(--mirage);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	max-height:120px

}
input.wpcf7-submit{
	background-color: var(--lime);
	width: auto;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.02em;
	text-align: left;
	text-transform: uppercase;
	padding: 14px 100px;

}

.menu{
	display: flex;
  width: 100%;
  justify-content: space-between;
	padding: 0;
}
.menu li{
	list-style: none;
}
.menu li a{
	color: var(--white);
  text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;



}
.table-bottom-third *{
	color:var(--white);
}
.table-bottom-third h3{
	height: 60px;
	font-size: 24px;
	font-weight: 450;
	line-height: 34px;
	letter-spacing: 0em;
	text-align: left;
	border-top: 0.5px solid #fff;
    padding-top: 1rem;




}
.table-bottom-third h3 img{
	margin-right: 10px;
  top: -3px;
  position: relative;
}
.table-bottom-third p{

	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 26px;

}
.table-bottom-third p a{
	color:var(--blue);
}
.table-bottom-third tr{
	display: flex;
}
.table-bottom-third tr td{
	width: 25%;
	padding-right: 1rem;
	display: flex;
  flex-direction: column;
}
.section-menu{
	  padding-top: 19px;
    padding-bottom: 19px;
    border-top: 1px solid #FFFFFF3D;
    border-bottom: 1px solid #FFFFFF3D;

}
.logo-section{
	padding-top: 20px;
	padding-bottom: 20px;
}
.logo-section img{
	width: 182px;
}
.call-us span,.email-us span{
	
	font-size: 12px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0.06em;
	text-align: left;


}
.call-us{
	margin-right: 131px;
}
.call-us p,.email-us p{
	margin-bottom:0
}
.call-us p a,.email-us p a{
  color:var(--white);
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 0rem;
	text-decoration: none;

}
.copy-container{
	border-top:1px solid var(--white);
  padding-top: 30px;
	padding-bottom: 30px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--white);

}
.site-footer{
	background-color: var(--mirage);
}
.section-footer-menu{
	padding-top: 80px;
	padding-bottom: 60px;
}
.text-footer{
	color:var(--white);
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	padding-top: 24px;
	padding-bottom: 58px;


}
.service-row{
	color:var(--white);
}
.service-row .menu{
	flex-direction: column;

}
.service-row .menu li a,.service-row .menu li{

	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: none;
	color:var(--white)

}
.service-row .menu li{
	padding-top: 16px;
}
.service-row .menu li:last-child{
	display: none;
}
.padding-top-20{
	padding-top: 20px;
}
@media (min-width: 1200px){
	section .container{
		  max-width: 1310px;
	}
}